# Environment variables (contains sensitive credentials)
.env
.venv

# Python cache files
/__pycache__/
*.pyc

# User uploads
/static/uploads/
/uploads/
*.png
*.jpg
*.jpeg
*.mov
*.avi
*.mp4

# Database files
*db