{% extends 'layout.html' %}

<!-- This file is for the help page of the application-->
{% block content %}

<div id="accordion-collapse" data-accordion="collapse">
  {% for faq in faq_data %}
  <h2 id="accordion-collapse-heading-{{ faq.id }}">
    <button type="button"
      class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border {% if loop.first %}border-b-0 border-gray-200 rounded-t-xl{% elif loop.last %}border-gray-200{% else %}border-b-0 border-gray-200{% endif %} focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3"
      data-accordion-target="#accordion-collapse-body-{{ faq.id }}" aria-expanded="false"
      aria-controls="accordion-collapse-body-{{ faq.id }}">
      <span>{{ faq.question }}</span>
      <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
        fill="none" viewBox="0 0 10 6">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" />
      </svg>
    </button>
  </h2>
  <div id="accordion-collapse-body-{{ faq.id }}" class="hidden"
    aria-labelledby="accordion-collapse-heading-{{ faq.id }}">
    <div
      class="p-5 border {% if loop.last %}border-t-0 border-gray-200{% else %}border-b-0 border-gray-200{% endif %} dark:border-gray-700{% if loop.first %} dark:bg-gray-900{% endif %}">
      {% for paragraph in faq.answer %}
      <p class="mb-2 text-gray-500 dark:text-gray-400">
        {{ paragraph }}
      </p>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}