<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style type="text/tailwindcss"></style>
    <title>Title</title>
  </head>
  <body>
    <!--This file has the main layout structure-->
    <header>
      <h1>Welcome to SocialLink</h1>
    </header>
    <main>{% block content %} {% endblock %}</main>
    <footer>
      <p>&copy; 2023 SocialLink</p>
    </footer>
  </body>
</html>
